.button {
  display: inline-block;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &.size_l {
    font: var(--font-l);
  }

  &.size_xl {
    font: var(--font-xl);
  }
}

.clear {
  color: var(--primary-color);
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background: none;
}

.background {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.backgroundInverted {
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
}