.app.primary {
    --bg-color: #fff7f2;
    --inverted-bg-color: #1d1a2d;
    --primary-color: #7d7f81;
    --secondary-color: #f1eceb;
    --inverted-primary-color: #ddecf8;
    --inverted-secondary-color: #b5b7cf;
}
