.app.primary {
  --bg-color: #fff7f2;
  --inverted-bg-color: #1d1a2d;
  --primary-color: #48494a;
  --secondary-color: #3c4d5e;
  --inverted-primary-color: #ddecf8;
  --inverted-secondary-color: #b5b7cf;
}