.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-bg-color);
  padding: 10px;
}

.links {
  margin-left: auto;
}

.navbarLink {
  color: var(--inverted-primary-color);
}