.appLink {
  color: var(--inverted-secondary-color);
  text-decoration: none;
  margin-right: 15px;
  border-bottom: 1px solid transparent;

  :last-child {
    margin-right: 0;
  }
}

.active {
  border-bottom-color: var(--inverted-secondary-color);
}